body {
  font-family: "Inter", sans-serif;
}
.table-wrapper th.MuiTableCell-root {
  padding: 3px 0 0 13px;
}
.MuiTabs-indicator {
  background: #2a5298 !important;
}
/* ===== Table Wrapper ===== */
.table-wrapper {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}
.table-wrapper .css-1qwh8hb-MuiTableCell-root {
  padding: 0px 0 0 13px;
}
.schedule .fc-col-header-cell-cushion {
  padding: 5px 8px;
  font-size: 12px;
}
.schedule .fc-toolbar-title {
  font-size: 1em;
}

@media screen and (max-width: 480px) {
  .schedule .fc-toolbar-title {
    font-size: 14px;
  }
  .owncalender .fc .fc-toolbar-title {
    font-size: 1em;
  }
  .owncalender .fc .fc-toolbar {
    flex-direction: column;
    gap: 10px;
  }
}
.grd-btn {
  background: linear-gradient(90deg, #c43cf2, #8b2cf5, #2d0cb8);
  color: #fff !important;
}
.grd-btn:hover {
  background: linear-gradient(90deg, #2d0cb8, #8b2cf5, #c43cf2);
}
.svgiconstyle {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  flex-shrink: 0;
  fill: currentcolor;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon_circle {
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10;
  color: #673ab7;
}
